body {
  background-image: url('https://www.wallpapertip.com/wmimgs/0-4123_chromeos-newdefaultwall-default-chrome-background.png');
  background-size: contain;
}
taskbar {
  background-color: rgba(60, 64, 67, 0.8);
  width: 100vw;
  bottom: 0;
}
